<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylefinal.css') }}">
</head>
<body>
    <div class="container">
        <h1>GRACIAS POR SU PREFERENCIA</h1>
        <form action="#" method="post">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido" placeholder="Apellido" required>
            <button type="submit">Separar Cupo</button>
        </form>
    </div>
</body>
</html>
