<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylecompra.css') }}">
</head>
<body>

    <div class="product-container">
        <button class="close"><a href="http://127.0.0.1:5000/index" class="close-link">X</a></button>
        <div class="product-image">
            <img src="https://dojiw2m9tvv09.cloudfront.net/69246/product/flordecana50801.png" alt="Imagen del ron">
        </div>
        <div class="product-info">
            <div class="product-name">RON</div>
            <div class="product-description">Es una bebida alcohólica destilada que se elabora a partir de la caña de azúcar, ya sea del jugo fresco o de sus derivados como la melaza. Su proceso incluye fermentación, destilación y, en muchos casos, un período de envejecimiento en barricas de madera, lo que le otorga su sabor y color característicos.</div>
        </div>
        <form id="add-to-cart-form" class="add-to-cart-form" method="POST" action="{{ url_for('add_to_cart') }}">
            <input type="hidden" name="product" value="ron"> <!-- Nombre del producto -->
            <label for="quantity" class="quantity-label">Cantidad:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-input">
            <button type="submit" class="add-to-cart-button">Añadir al Carrito</button>
        </form>

    </div>
</body>
</html>
